* {
    margin: 0;
    padding: 0;
}


body {
    box-sizing: border-box;
    background-color: black;
    color: white;
}

header {
    padding-block: 2%;
    background-color: #232D3F;
}

.cabecalho__itens{
    margin-left: 5%;
}

a{
    display: inline;
    color: #008170;
    text-decoration: none;
    font-size: 1.5rem;
    padding-inline-end: 50px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin-bottom: 2%;
    color: #008170;
}

main {
    margin: 5% 0% 0% 5%;
}

#Id{
    border-radius: 16px;
    text-align: center;
    width: 350px;
}

.principal__buttons {
    display: flex;
    text-align: center;
    font-size: 0.9rem;
    color: white;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}


.buttonCRUD {
    border: 2px solid #008170;
    color: aliceblue;
    border-radius: 16px;
    width: 10%;
    background-color: #008170;
}

.principal__table {
    margin-top: 5%;
}
